@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root{
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    --white: hsl(255, 100%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--violet);
    background-image: url(./images/bg-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
}

.main-container{
    width: 599px;
    margin: 70px auto 79px;
}

.section1{
    width: 100%;
    margin-bottom: 140px;
}

.section1__logo{
    padding-bottom: 110px;
}

.section1__img{
    width: 593px;
    height: 419px;
}

.section2{
    width: 100%;
}

.section2__title{
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    text-align: center;
    font-size: 48px;
}

.section2__text{
    color: var(--white);
    text-align: center;
    font-size: 32px;
    line-height: 1.5em;
    padding-top: 30px;
}

.section2__btn{
    display: block;
    width: 400px;
    height: 80px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-align: center;
    padding-top: 22px;
    margin: 50px auto 60px;
    font-size: 24px;
    color: var(--violet);
    background-color: var(--white);
    border: none;
    border-radius: 40px;
}

.section2__btn:hover{
    display: block;
    width: 400px;
    height: 80px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-align: center;
    padding-top: 22px;
    margin: 50px auto 60px;
    font-size: 24px;
    color: var(--white);
    background-color: var(--soft-magenta);
    border: none;
    border-radius: 40px;
}

.social-icons{
    width: 215px;
    margin: 130px auto 30px;
    display: flex;
    justify-content: space-between;
}

.icon{
    text-decoration: none;
    text-align: center;
    font-size: 1.8em;
    color: var(--white);
    width: 60px;
    height: 60px;
    border: 2px solid var(--white);
    border-radius: 50%;
    padding-top: 15px;
}

.icon:hover{
    text-decoration: none;
    text-align: center;
    font-size: 1.8em;
    color: var(--soft-magenta);
    width: 60px;
    height: 60px;
    border: 2px solid var(--soft-magenta);
    border-radius: 50%;
    padding-top: 15px;
}

.attribution{
    font-size: 15px;
    text-align: center;
}
.attribution a{
    color: var(--soft-magenta);
}

@media screen and (min-width:1440px) {
    body{
        background-image: url(./images/bg-desktop.svg);
    }

    .main-container{
        width: 1280px;
        height: 700;
        margin: 65px auto 79px;
        display: flex;
    }

    .section1__logo{
        padding-bottom: 80px;
        width: 30%;
    }

    .section1__img{
        width: 700px;
        height: 500px;
    }

    .section2{
        width: 100%;
        height: 525px;
        margin-top: 180px;
        margin-left: 60px;
    }

    .section2__title{
        font-size: 40px;
        text-align: left;
    }
    
    .section2__text{
        text-align: left;
        font-size: 18px;
    }

    .section2__btn{
        width: 200px;
        height: 60px;
        padding-top: 16px;
        margin-top: 30px;
        margin-left: 0px;
        font-size: 18px;
    }

    .social-icons{
        width: 215px;
        margin-right: 0;
    }
    
    .icon{
        font-size: 1.3em;
        width: 45px;
        height: 45px;
        border: 1px solid var(--white);
        border-radius: 50%;
        padding-top: 12px;
    }
}